$background-color: #00a6c4;
$background-color-two: rgb(0, 0, 52);
$deep-champagne: rgb(252,208,161);
$deep-champagne-two: rgb(211, 172, 131);
$english-vermillion: rgb(211,63,73);
$black-olive: #464742;
$copper-penny: #AD6A6C;
$copper-penny-two: #945e60;
$background-color-opa: rgba(0, 166, 196, 0.5);


$div-color: whitesmoke;
$div-accent: grey;


$top-color: #05a6c3;