.projects-container{
    margin: 0 auto;
    display: flex;
    width: 100vw;
    height: auto;
    flex-direction: column;
    min-height: 50vh;
    padding-top: 50px;
    // border-bottom: whitesmoke 1px solid;
    margin-bottom: 80px;
}
.project-intro{
    color: whitesmoke;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;

    h2{
        font-size: 50px;
        font-weight: bold;
    }
    p{
        width: 75%;
        font-size: 18px;
    }
}
.project-stopwatch{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
    &::after{
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        left: 0;
        bottom: -40px;
        z-index: -1;
        transform-origin: top left;
        transform: skewY(-3deg);
        border-bottom: whitesmoke 2px solid;
    }
    &::before{
        position: absolute;
        content: "";
        top: -20px;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        transform-origin: top left;
        transform: skewY(3deg);
        border-top: whitesmoke 2px solid;
    }
}
    .project-description{
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: whitesmoke;
        h2{
            font-size: 30px;
            font-weight: bold;
        }
        p{
            width: 100%;
        }
    }
    .project-example{
        width: 50%;
        height: auto;
        display: flex;
        justify-content: flex-end;
    }

.project-roundstuff{
    width: 80%;
    height: auto;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-top: 30px;
    .project-description{
        text-align: right;
    }
    .project-example{
        width: 40%;
    }
    &::after{
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        left: 0;
        bottom: 20px;
        z-index: -1;
        transform-origin: top left;
        transform: skewY(3deg);
        border-bottom: whitesmoke 1px solid;
    }
}
.project-weather{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
    // border-bottom: 1px whitesmoke solid;
    // margin-bottom: 20px;
    .project-example{
        width: 50%;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1300px) {
    .project-intro{
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .project-stopwatch{
        flex-direction: column;
        padding-top: 25px;
        padding-bottom: 15px;
        width: 80%;
        .project-description{
            width: 100%;
            text-align: center;
        }
        .project-example{
            width: 100%;
        }
    }
    .project-roundstuff{
        flex-direction: column;
        padding-top: 25px;
        padding-bottom: 20px;
        align-items: center;
        justify-content: center;
        .project-example{
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            a{
                display: flex;
                justify-content: center;
                width: 100%;
                max-width: 600px;
                img{
                    width: 80%;
                    margin: 0 auto;
                }
            }
        }
        .project-description{
            text-align: center;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 10px;
        }
    }
}
@media screen and (max-width: 730px) {
    .project-weather{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 25px;
        .project-description{
            width: 100%;
            text-align: center;
        }
    }
    
}
